$color: #1abc9c;

// h1, input::-webkit-input-placeholder, button {
//   font-family: 'roboto', sans-serif;
//   transition: all 0.3s ease-in-out;
// }

// h1 {
//   height: 100px;
//   width: 100%;
//   font-size: 18px;
//   background: darken($color, 4%);
//   color: white;
//   line-height: 150%;
//   border-radius: 3px 3px 0 0;
//   box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
// }

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    background-color: #5C5292;
    border-color: #5C5292;
}
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #474266;
    border-color: #474266;
}
.brand {
    margin-bottom: 30px;
}

form {
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto 0;
  padding-bottom: 40px;
  border-radius: 3px;
  h1 {
    box-sizing: border-box;
    padding: 20px;
  }
}

input {
  margin: 10px 25px;
  width: 250px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color;
}

button {
  border: none;
  background: $color;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 250px;
  border-bottom: 0;
  background: none;
  color: white !important;
  margin-left: 25px;
}

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  i {
    margin-right: 20px;
    transition: margin-right 0.2s ease;
  }
  &:hover {
    width: 134px;
    transform: translateX(-50px);
    i {
      margin-right: 10px;
    }
  }
}
